@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 240 10% 6%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 6%;
    --primary: 240 6% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 5% 96%;
    --accent-foreground: 240 6% 10%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 6%;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 98%;
    --card: 240 10% 6%;
    --card-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 10% 4%;
    --secondary: 240 6% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 6% 12%;
    --muted-foreground: 240 4% 60%;
    --accent: 240 6% 12%;
    --accent-foreground: 0 0% 98%;
    --border: 240 6% 16%;
    --input: 240 6% 16%;
    --ring: 240 4% 66%;
    --popover: 240 10% 6%;
    --popover-foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
